<template>
    <div class="cart">
        <div class="log">
            <header>
                <span>已选商品</span>
                <span @click="clear">清空</span>
            </header>
            <ul class="list">
                <li v-for="(val,i) in cartList">
                    <span>{{val.spuName}}</span>
                    <div class="count">
                        <span class="reduce" @click="reduce(i)">-</span>
                        <span class="num">{{val.activityType}}</span>
                        <span class="add" @click="add(i)">+</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name:'cart',
    props:['cartList','clearList','changeShow','changeReduce'],
    methods: {
        clear() {
            this.clearList();
        },
        reduce(index) {
            this.changeReduce(index);
        },
        add(index) {
            this.changeShow(index);
        }
    }
}
</script>

<style>
    .cart{
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0,0,0,.5);
        padding-bottom:44px;
        z-index: 99;
    }
    .log{
        position: absolute;
        width: 100%;
        height: 50%;
        background: #fff;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    header{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #eee;
        padding: 0 10px;
    }
    .list{
        width: 100%;
        flex: 1;
        padding: 0 10px;
        padding-bottom:44px; 
        overflow-y: auto;
    }
    .list>li{
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
