<template>
    <div class="item">
        <dl v-for="(v,i) in list">
            <dt><img :src="v.littleImageUrl" alt=""></dt>
            <dd>
                <h3 class="tit">{{v.spuName}}</h3>
                <p class="info">{{v.spuDesc}}</p>
                <div class="state">
                    <span class="price">￥{{v.currentPrice}}</span>
                    <div class="count">
                        <span class="reduce" v-show="v.activityType > 0" @click="reduce(i)">-</span>
                        <span class="num" v-show="v.activityType > 0">{{v.activityType}}</span>
                        <span class="add" @click="add(i)">+</span>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</template>

<script>
export default {
    name:'item',
    props:['list','changeShow','total','changeReduce'],
    methods: {
        add(index) {
            this.changeShow(index);
        },
        reduce(index) {
            this.changeReduce(index);
        }
    }
}
</script>

<style>
    .right{
        flex:1;
        height: 100%;
        overflow: hidden;
    }
    .item{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 10px 0 0 10px;
    }
    dl{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom:1px solid #ccc;
    }
    dl>dt{
        width: 90px;
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    dl>dt>img{
        width: 75px;
        height: 75px;
    }
    dl>dd{
        flex: 1;
        height: 100%;
    }
    .tit{
        font-weight: normal;
        font-size: 14px;
        margin-top: 20px;
    }
    .info{
        font-size: 10px;
    }
    .state{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top:5px;
        padding-right: 25px;
    }
    .price{
        color: red;
        font-size: 18px;
    }
    .count{
        display: flex;
        align-items: center;
    }
    .reduce,.add{
        background: blue;
        color: #fff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 16px;
        z-index: 9;
    }
    .num{
        padding: 0 5px;
    }
</style>
