<template>
  <div id="app">
      <div class="content">
          <ul class="left">
              <li v-for="(val,i) in newList" @click="changeVal(i)" :class="i == index ? 'active' : ''">{{val.categoryName}}</li>
          </ul>
          <div class="right">
              <Item :list="list" :changeShow="changeShow" :changeReduce="changeReduce" :total="total"></Item>
          </div>
          <Cart v-show="flag" :cartList="cartList" :clearList="clearList" :changeShow="changeShow" :changeReduce="changeReduce"></Cart>
      </div>
      <div class="footer">
          <span>{{total}}</span>
          <button @click="changeFlag">去结算</button>
      </div>
  </div>
</template>

<script>
import Item from './components/item'
import Cart from './components/cart'
export default {
  name: 'App',
  data() {
    return {
      index:0,
      list:[],
      total:0,
      flag:false,
      cartList:[]
    }
  },
  components: {
      Item,
      Cart
  },
  methods: {
    changeFlag() {
      this.$data.flag = true;
      this.$data.cartList = this.$store.state.cartList;
    },
    changeVal(index) {
      this.$data.index = index;
    },
    changeShow(index) {
      this.$store.commit('changeCount',{index,ind:this.index})
      this.$data.total++;
    },
    changeReduce(index) {
      this.$store.commit('changeRed',{index,ind:this.index})
      this.$data.total--;
    },
    clearList() {
      this.$store.commit('clearCartList','');
      this.$data.cartList = this.$store.state.cartList;
      this.$data.total = 0;
      this.$data.flag = false;
    }
  },
  created() {
    this.$store.dispatch('getDate');
  },
  computed: {
      newList() {
        return this.$store.state.list
      }
  },
  watch: {
    newList(newVal) {
      this.$data.list = newVal[this.index].spuList;
    },
    index(newIndex) {
      this.$data.list = this.newList[this.index].spuList;
    },
    cartList(newList) {
      this.$data.cartList = newList;
    }
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
.content{
  width: 100%;
  flex: 1;
  display: flex;
}
.footer{
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccc;
  z-index: 999;
}
.footer button{
  width: 30%;
  height: 100%;
  background: 0;
  border: 0;
  background: green;
  font-size: 16px;
  color: #fff;
}
.footer span{
  padding-left: 20px;
}
.left{
  width: 100px;
  height: 100%;
  border-right: 1px solid #ccc;
}
.left li{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
li.active{
  background: #fff;
}
</style>
